.aristosChars{
    margin-top: 0rem;
    top: 0;
    margin-left: 5rem;

    &__main {
        list-style: none;
        float: left;
        margin-top: 0rem;
        &--1 {

            &:link,
            &:visited {
                margin-right: 2rem;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-white;
                font-size: 2rem;
                border-bottom: .5rem solid transparent;
                transition: border-bottom 0.2s;
                
            }

            &:hover,
            &:active{
                border-bottom: 0.2rem solid ;
                color:$color-secondary-dark;
            }
        }
        &--2 {
            &:link,
            &:visited {
                color: $color-white;
                margin-right: 0rem;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2rem;
                border-bottom: .5rem solid transparent;
                transition: border-bottom 0.2s;
            }

            &:hover,
            &:active{
                border-bottom: 0.2rem solid ;
                color:$color-secondary-dark;
            }
        }
    }
}

.material {
    margin-top: 0rem;
    top: 0;
    margin-left: 5rem;
    &__main {
        list-style: none;
        float: left;
        margin-top: 0rem;
        &--1 {

            &:link,
            &:visited {
                margin-right: 2rem;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-primary-dark;
                font-size: 2rem;
                border-bottom: .5rem solid transparent;
                transition: border-bottom 0.2s;
                
            }

            &:hover,
            &:active{
                border-bottom: 0.2rem solid ;
                color:$color-secondary-dark;
            }
        }
        &--2 {
            &:link,
            &:visited {
                color: $color-primary-dark;
                margin-right: 0rem;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2rem;
                border-bottom: .5rem solid transparent;
                transition: border-bottom 0.2s;
            }

            &:hover,
            &:active{
                border-bottom: 0.2rem solid ;
                color:$color-secondary-dark;
            }
        }
    }
}


