.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 10rem 0;

    background-image:linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)), 
    url(../img/grass.png);
    background-size: cover;
    //transform: skewY(-.1deg);
    margin-top: .1rem;

   // & > * {
   //     transform: skewY(.1deg);
   // }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 20rem 0 20rem 0;
    margin-top: -5rem;
}

.section-footer{
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    background-color: $color-primary-dark;
    
    
}


.section-aristosChars{
    padding: 1rem;
    margin-top: 0rem;
    margin-bottom: 10rem;

}
/*


    & > * {
        transform: skewY(7deg);
    }
    This means that we add the skewY(7deg) in all childrens of the parent .section-features 

*/

//.section-features > * so basically, .section-features and then direct childs all of them